.footer {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  z-index: 20;

  @media (min-width: $tablet) {
    right: 6rem;
    bottom: 4.5rem;
  }

  @media (min-width: $desktop-xs) {
    display: none;
  }
}

.footer__elements-logo {
  transform-origin: top left;

  path {
    fill: var(--color-opposite);
  }
}
