header.header {
  grid-area: header;
  position: fixed;
  left: 3rem;
  right: 3rem;
  display: inline-flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 20;

  @media (min-width: $tablet) {
    left: 4.5rem;
    right: 4.5rem;
  }

  @media (min-width: $desktop-xs) {
    position: static;
    overflow: hidden;
  }
}

.logo-link {
  @extend .image-wrapper;
}

.logo {
  display: inline-flex;
  align-items: center;

  .logo__icon {
    margin-right: 1.5rem;
  }

  .logo__heading {
    font-size: 4rem;
    font-weight: 700;
  }
}

.theme-toggle {
  @extend .image-wrapper;
  z-index: 20;

  .theme-toggle__button {
    position: relative;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-opposite);
    cursor: pointer;
    outline: none;

    @media (min-width: $mobile) {
      height: 5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: -3.5rem;
      width: calc(100% + 5rem);
      height: 6rem;
      background-color: var(--color-primary);
      z-index: -1;
      transform: translateY(-50%);

      @media (min-width: $mobile) {
        height: 6.5rem;
      }

      @media (min-width: $tablet) {
        height: 7rem;
        right: -6.2rem;
        width: calc(100% + 8rem);
      }

      @media (min-width: $desktop-xs) {
        visibility: hidden;
      }
    }
  }

  .theme-toggle__icon {
    height: 100%;
    fill: var(--color-secondary);

    path {
      fill: var(--color-opposite);
    }
  }
}
