.locations-list {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}

.locations-list__heading {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.location-item {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  border-radius: $border-radius;
}

.location-item__back-layer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.location-item__image {
  @extend .image-wrapper;
  height: 20rem;
  background-color: var(--color-secondary);
  border-radius: $border-radius $border-radius 0 0;

  img {
    border-radius: $border-radius $border-radius 0 0;
    height: 100%;
  }
}

.location-item__name {
  height: 6rem;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 $border-radius $border-radius;
  background-color: var(--color-secondary);

  span {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-opposite);
  }
}
