.sidebar {
  grid-area: sidebar;
  // Hidden in mobile and tablet
  @media (max-width: $desktop-xs) {
    display: none;
  }

  display: inline-flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-primary);
}

.sidebar__logo {
  margin-bottom: 4.5rem;

  path {
    fill: var(--color-secondary);
  }
}
