:root {
  // Neutral
  --color-white: #ffffff;

  // Light theme as default
  --primary-color: #3638de;
  --secondary-color: var(--color-white);
  --tertiary-color: #eeeeee;
}

body.dark-theme {
  --primary-color: #ffb100;
  --secondary-color: #333333;
  --tertiary-color: #3f3e3e;
}

body.light-theme {
  --primary-color: #3638de;
  --secondary-color: var(--color-white);
  --tertiary-color: #eeeeee;
}
