:root {
  // Neutral
  --color-white: #ffffff;

  // Light theme as default
  --color-primary: #3638de;
  --color-secondary: var(--color-white);
  --color-tertiary: #eeeeee;
  --color-opposite: #333333;
}

.app-layout.dark-theme {
  --color-primary: #ffb100;
  --color-secondary: #333333;
  --color-tertiary: #3f3e3e;
  --color-opposite: #ffffff;
}

.app-layout.light-theme {
  --color-primary: #3638de;
  --color-secondary: var(--color-white);
  --color-tertiary: #eeeeee;
  --color-opposite: #333333;
}
