:root {
  // Neutral
  --color-white: #ffffff;

  // Light theme as default
  --color-primary: #3638de;
  --color-secondary: var(--color-white);
  --color-tertiary: #eeeeee;
  --color-opposite: #333333;

  --background-gradient: radial-gradient(36.63% 36.63% at 44.52% 50%, #202147 0%, #3638de 100%);
}

.app-layout.dark-theme {
  --color-primary: #ffb100;
  --color-secondary: #333333;
  --color-tertiary: #3f3e3e;
  --color-opposite: #ffffff;
  --background-gradient: radial-gradient(50% 50% at 50% 50%, #ff0f00d9 0%, #ffb100d9 100%);
}

.app-layout.light-theme {
  --color-primary: #3638de;
  --color-secondary: var(--color-white);
  --color-tertiary: #eeeeee;
  --color-opposite: #333333;
  --background-gradient: radial-gradient(36.63% 36.63% at 44.52% 50%, #202147 0%, #3638de 100%);
}
