// Looking for color variables? Go to abstracts/_theme.scss

// Breakpoints
$mobile: 600px;
$tablet: 800px;
$desktop-xs: 1024px;
$desktop-s: 1200px;
$desktop-m: 1440px;
$desktop-l: 1600px;
$desktop-xl: 1920px;

// Grid template areas
$desktop-xs-area: 'sidebar . .  .' 'sidebar . header .' 'sidebar . .  .' 'sidebar . main .'
  'sidebar . . .';

// Utils
$border-radius: 20px;
